@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@400;600&display=swap");

::selection {
  color: #000000;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  border-color: #5d5d5d;
}

.form__wrapper {
  background-color: #eaeaea;
  font-family: "Kufam", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  background-color: #f9f4f5;
  box-shadow: 0px 2px 5px #000;
  border-radius: 8px;
  width: 500px;
  max-width: 550px;
  overflow: hidden;
}

.form-container h2 {
  background-color: #9b9b9b;
  color: #fff;
  padding: 30px;
  text-align: center;
  margin: 0;
}

.form {
  padding: 3% 10%;
}

.form-control {
  margin: 5px 0;
  padding: 5px 0;
  position: relative;
}

.form-control label {
  font-family: inherit;
}

.form-control input {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 15px;
}

.form-control.success input {
  border-color: #4cb944;
}

.form-control.error input {
  border: 2px solid #bb0a21;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 45px;
  right: 15px;
}

.form-control.success i.fa-check-circle {
  visibility: visible;
  color: #4cb944;
}

.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: #bb0a21;
}

.form-control .small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
}

.form-control.error .small {
  visibility: visible;
  color: #bb0a21;
}

.submit {
  display: block;
  width: 100%;
  border: none;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  background-color: #9b9b9b;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.success-message {
  display: none;
  width: 100%;
  text-align: center;
  padding: 5px;
}
